# ----------------------------------
# 1. Variables de Entorno y Secretos
# ----------------------------------
# Ignorar todos los archivos de entorno (ej: .env, .env.local, .env copy)
.env*
*.pyenv

# Ignorar archivos de credenciales específicos que contienen secretos
gc_credentials.json
tecnicas.json
z.json
json/

# ----------------------------------
# 2. Ambientes Virtuales
# ----------------------------------
# Entornos virtuales comunes
venv/
env/
.venv/

# Tu entorno virtual específico
Tecnicas_Seleccion_Caracteristicas/
Entorno_Local_Tecnicas_Seleccion/
Api_Random_Forest/

# Archivos de configuración de ngrok (contiene tokens)
ngrok
ngrok/
.ngrok
.ngrok/

# ----------------------------------
# 3. Archivos de Python y Compilados
# ----------------------------------
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# ----------------------------------
# 4. Archivos de Django y BBDD
# ----------------------------------
# Archivos de log, estáticos y base de datos local
*.log
*.pot
*.mo
*.db
db.sqlite3
/staticfiles/
/media/

# Archivo con el dataset (si no debe ser público)
dataset/

# ----------------------------------
# 5. Editores y Sistemas Operativos
# ----------------------------------
# macOS & Windows
.DS_Store
Thumbs.db

# IDEs y Editores
*.swp
.vscode/
.idea/